goldmark:
  renderer:
    unsafe: true

  extensions:
    passthrough:
      enable: true
      delimiters:
        block:
          - ['\[', '\]']
          - ['$$', '$$']
        inline:
          - ['\(', '\)']

tableOfContents:
  startLevel: 2
  endLevel: 4
  ordered: true

highlight:
  noClasses: false
  codeFences: true
  guessSyntax: true
  lineNoStart: 1
  lineNos: true
  lineNumbersInTable: true
  tabWidth: 4
